{% extends "users/base.html" %}

{% block content %}

    {% if user.is_superuser %}
        <form action="{% url 'headlines' %}">

            <input type="submit" value="NDTV" name="ndtv">
            <input type="submit" value="ZEE" name="zee">
            <input type="submit" value="Scroll" name="scroll">
        </form>
    {% else %}
        Welcome!!
    {% endif %}

    <!-- {% for news in latest_news %}

    <div class="card m-2" style="width: 350px; display: inline-block;">
        <img class="card-img-top" src="{{ news.latest_image_url }}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{ news.latest_headlines }}</h5>
          <p class="card-text">{{ news.latest_content }}</p>
        </div>
    </div>
    {% endfor %} -->

 

{% endblock content %}