{% extends "users/base.html" %}

{% block content %}

    {% if user.is_superuser %}

        <form action="{% url 'headlines' %}">

            <input type="submit" value="NDTV" name="ndtv">
            <input type="submit" value="ZEE" name="zee">
            <input type="submit" value="Scroll" name="scroll">
        </form>
        
        
    {% else %}
       {% for tag in tags_all %}
            <button>
                {{ tag.tags }}
            </button>

        {% endfor %}
    {% endif %}

{% endblock content %}