{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    {% for news in latest_news %}
            <div class="card m-2" style="width: 350px; display: inline-block;">
                <img class="card-img-top" src="{{ news.ndtv_img_url }}" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title">{{ news.ndtv_headlines }}</h5>
                <p class="card-content">{{ news.ndtv_content}}</p>
                <hr>
                </div>
                {% if user.is_superuser %}
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" value="{{ news.id }}" name="news_id">
                        <fieldset class="form-group">
                            {{form|crispy}}
                        </fieldset>
                        <button class="btn">Add Tag</button>
                    </form>
                {% else %}
                    {% for id in ids %}
                        {% if news.id == id.news_id %}
                            {% for tag in tags %}
                                {% if tag.id == id.tag_id_id %}
                                    {{ tag }}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor%}
                {% endif %}
            </div>
    {% endfor %}


{% endblock content %}