{% extends "users/base.html" %}
{% block content %}

<div class="content-section text-center">
    <strong>Criket News</strong>
</div>

{% for news in cricket_news %}

<div class="card m-2" style="width: 350px; display: inline-block;">
    <img class="card-img-top" src="{{ news.cricket_image_url }}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{ news.cricket_headlines }}</h5>
      <!-- <p class="card-text">{{ news.cricket_content }}</p> -->
    </div>
</div>

{% endfor %}
{% endblock content %}