{% extends "users/base.html" %}
{% block content %}

<div class="content-section text-center">
    <strong>World News</strong>
</div>

{% for news in world_news %}

<div class="card m-2" style="width: 350px; display: inline-block;">
    <img class="card-img-top" src="{{ news.world_image_url }}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{ news.world_headlines }}</h5>
      <p class="card-text">{{ news.world_content }}</p>
    </div>
</div>
{% endfor %}
{% endblock content %}